<div class="small-12 columns">
  <div class="overlay-container">
    <%= image_tag "TremontStreet.jpg" %>
    <div class="overlay">
      <span>Find out what apartments really cost.</span>
    </div>
  </div>
</div>
