<div id="map"></div>

<div class="row">
  <div class="small-12 small-centered columns">
    <div class="panel apartment-metric">
      <span class="apartment-metric-text">As of <%= Date.today %>, the average monthly utility bill in Boston is</span>
      <span class="apartment-metric-number">$<%= @average_bills.mean.to_i %></span>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-6 large-3 small-centered columns">
    <%= link_to 'Add a rental unit', new_rental_unit_path, class: 'button radius' %>
  </div>
</div>

<% google_maps_url = "https://maps.googleapis.com/maps/api/js?callback=initMap&key=#{ENV['GOOGLE_MAPS_BROWSER_API_KEY']}&libraries=visualization" %>
<script defer src=<%="#{google_maps_url}"%> %></script>
